@use 'variables' as v;
//MIXINS
//Mixin box-sizing
@mixin box-sizing($box_model){
    box-sizing: $box_model;
}

//Crear Grid Templates
@mixin create-grid-template($item1, $item2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    grid-template-areas: 
        "#{$item1} #{$item1} #{$item2}"
        "#{$item1} #{$item1} #{$item2}"
        "#{$item1} #{$item1} #{$item2}";
}

@mixin create-grid-template2($item1, $item2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    grid-template-areas: 
        "#{$item1} #{$item2} #{$item2}"
        "#{$item1} #{$item2} #{$item2}"
        "#{$item1} #{$item2} #{$item2}";
}

//Media-queries
@mixin mobile{
    @media screen and (min-width: v.$small){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: v.$medium){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: #{v.$large}){
        @content;
    }
}
