//Reescribimos variables de Bootstrap
$red: #F26419;
$green: #F6AE2D;
$blue: #007DDA;
$darkblue: #33658A; 
$black: #000;
$white: #fff;

//Asignamos nuestra paleta de colores a la variables de los temas de Bootstrap
$primary: $blue;
$danger: $red;
$secondary: $green;
$cyan: $darkblue;
$dark: $black;
$light: $white;

//FUENTES
$main_font: 'Red Hat Text', sans-serif;
$secondary_font: 'Viga', sans-serif;
$terciary_font: 'Fugaz One', sans-serif;

//Separacíon
$separation: 5rem;

//Media queries
$small: 480px;
$medium: 768px;
$large: 1024px;

//Importamos todo Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

