@use '../base/variables' as v;
@use '../base/mixins' as m;

/* Heroes */
.hero, .hero2, .hero3, .hero4, .hero5, .hero6 {
    height: 65rem;
    background-position: center center;
    background-size: cover;
}

.hero{
    grid-area: hero;
    background-image: url("../../img/hero1.jpg");
}

.hero2{
    background-image: url("../../img/hero2.jpg");
}

.hero3{
    background-image: url("../../img/hero3.jpg");
}

.hero4{
    background-image: url("../../img/hero4.jpg");
}

.hero5{
    background-image: url("../../img/hero5.jpg");
}

.hero6{
    background-image: url("../../img/hero6.jpg");
}

.hero__info {
    grid-area: hero__info;
}

.hero__info h1 {
    margin-top: 10rem;
}

.hero__info p {
    margin-top: 5rem;
}

.hero__info button {
    margin-top: 3rem;
}

.grid-container {
    @include m.create-grid-template('hero', 'hero__info');
}